body{
    margin: 0;
    padding: 0;
    background: url('../assets/image4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-position:40% 20%;
}